.container{
    padding: 8px;
    margin: 12px;
    border-radius: 16px;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 12px;
}
.image{
    border-radius: 100px;
    width: 80px;
    height: 80px;
}
.characterName{
    display: inline;
}
.characterInfo{
    display: block;
}